@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;1,800&display=swap');
.container{
    margin-bottom:100px
}
.nav-section{
    margin-bottom: 50px;
    padding-top: 30px;
}


 .navbar-nav .nav-link {
   padding-left: 20px !important;
   padding-right:20px !important;
}

body{
    font-family: 'Poppins' , sans-serif ;
    width: 1440px;
    margin:auto
}

.first-section{
    background-color: #F0FFF0;
    
    height: 450px;
    left: 0px;
    top: 0px;
    padding-bottom: 30px;
   
}


.btn {
    border-radius: 20px;  
    color: #ffffff !important;
    font-size: 16px;
    background: #21B573;
    padding: 10px 20px 10px 20px;
    text-decoration: none ;
}

.banner-img{
    width: 60%;
}
.bg-light{
    background-color: transparent !important;
}

p{
    color: #6C6B6B;
}



.card img{
    padding-top:  5px;
    
}
.card{
    border: none;
    background-color: #F8FFFB;  
    border-radius: 10px;  
    position: relative;
    width:100%;
    margin:20px;
}
#special {
    background-color:#fff;
     box-shadow : 5px 5px 10px rgb(226, 222, 222);
} 
.card-footer{
    border: none;
    background-color: transparent !important;
    padding: 0px;

}
.card-footer img{
   width:  50px;
   height: 50px;
   
}
.test-img {
    width: 25%;
    float: left;
   
}
.test{
    width: 50%;
    margin: 50px auto 100px auto ;
    text-align: left;
}
.testimonial-description
{
    padding-left: 20px;
  
}
.final-section{
    background-color: black;
    color:blanchedalmond;
}
.list-group{
    background-color: none;
}
li {
    list-style-type: none;
}

.final-section{
    padding-top: 40px;
   margin-bottom: 0px;
}
small p{
    padding-top: 70px;
}
.card-title{
    font-weight: bold;
}
.img-fluid{
    padding: 10px;
}